@{
	ViewBag.Title = "MAC Index";
}
@section DocumentReady {
	$('.focuspoint').focusPoint();
}
<div class="" style="height:100%;padding-left: 0px;padding-right: 0px;">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height:100%;padding-left: 0px;padding-right: 0px;">
		<div class="focuspoint"
			 data-focus-x="0.0"
			 data-focus-y="0.0"
			 data-image-w="2256"
			 data-image-h="1208">
			<img src="~/images/macbookpro.jpg" alt="" />
			<span class="price">@Model.MacBookPro</span>
		</div>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height:100%;padding-left: 0px;padding-right: 0px;">
		<div class="focuspoint"
			 data-focus-x="0.0"
			 data-focus-y="0.0"
			 data-image-w="1500"
			 data-image-h="991">
			<img src="~/images/macpro.jpg" alt="" />
			<span class="price">@Model.MacPro</span>
		</div>
	</div>
</div>